{% extends 'base.html.twig' %}

{% block title %}Modifier un docteur{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <div class="card shadow-sm">
                    <div class="card-header bg-warning text-white">
                        <h3 class="mb-0">Modifier un docteur</h3>
                    </div>

                    <div class="card-body">
                        {{ form_start(form) }}

                        {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.phone, {'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.ville, {'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.dispo, {'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.experience, {'attr': {'class': 'form-control'}}) }}

                        <button class="btn btn-success mt-3 w-100">Mettre à jour</button>

                        {{ form_end(form) }}
                    </div>
                </div>

                <a href="{{ path('list_docteurs') }}" class="btn btn-link mt-3">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
